doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content)
        meta(name='author', content)

        title HVJCGP

        // Favicon 
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page content
            section.py-5

                .container.px-5

                    // Contact form
                    .bg-light.rounded-4.py-5.px-4.px-md-5
                        .text-center.mb-5
                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.mb-3
                                i.bi.bi-envelope
                            h1.fw-bolder Ponte en contacto
                            p.lead.fw-normal.text-muted.mb-0 ¡Trabajemos juntos!
                        .row.gx-5.justify-content-center
                            .col-lg-8.col-xl-6

                                // * * * * * * * * * * * * * * *
                                // * * SB Forms Contact Form * *
                                // * * * * * * * * * * * * * * *

                                // This form is pre-integrated with SB Forms.
                                // To make this form functional, sign up at
                                // https://startbootstrap.com/solution/contact-forms
                                // to get an API token!

                                form#contactForm(data-sb-form-api-token='API_TOKEN')

                                    // Name input
                                    .form-floating.mb-3
                                        input#name.form-control(
                                            type='text',
                                            placeholder='Enter your name...'
                                            data-sb-validations='required'
                                        )
                                        label(for='name') Nombre completo
                                        .invalid-feedback(data-sb-feedback='name:required')
                                            | Un nombre es requerido
                                    
                                    // Email address input
                                    .form-floating.mb-3
                                        input#email.form-control(
                                            type='email',
                                            placeholder='name@example.com'
                                            data-sb-validations='required,email'
                                        )
                                        label(for='email') Correo electrónico
                                        .invalid-feedback(data-sb-feedback='email:required')
                                            | un correo es requerido
                                        .invalid-feedback(data-sb-feedback='email:email')
                                            | Email No es valido
                                    
                                    // Phone number input
                                    .form-floating.mb-3
                                        input#phone.form-control(
                                            type='tel',
                                            placeholder='(123) 456-7890'
                                            data-sb-validations='required'
                                        )
                                        label(for='phone') Número de teléfono
                                        .invalid-feedback(data-sb-feedback='phone:required')
                                            | un número de teléfono es requerido
                                    
                                    // Message input
                                    .form-floating.mb-3
                                        textarea#message.form-control(
                                            type='text',
                                            placeholder='Enter your message here...',
                                            style='height: 10rem;'
                                            data-sb-validations='required'
                                        )
                                        label(for='message') Mensaje
                                        .invalid-feedback(data-sb-feedback='message:required')
                                            | Un mensaje es requerido

                                    // Submit success message
                                    //
                                    // This is what your users will see when the form
                                    // has successfully submitted
                                    #submitSuccessMessage.d-none
                                        .text-center.mb-3
                                            .fw-bolder Envío de formulario exitoso
                                            | Para activar este formulario, regístrate en
                                            
                                    // Submit error message
                                    //
                                    // This is what your users will see when there is
                                    // an error submitting the form
                                    #submitErrorMessage.d-none
                                        .text-center.text-danger.mb-3 ¡Error al enviar el mensaje!

                                    // Submit Button
                                    .d-grid
                                        button#submitButton.btn.btn-primary.btn-lg.disabled(type='submit') Enviar

        // Footer
        include includes/footer.pug

        include includes/scripts.pug

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
